<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:flex="http://www.springframework.org/schema/flex" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.0.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<context:property-placeholder location="classpath:jdbc.properties"/>
	
    <!-- DataSource数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.sysDriver}"/>
		<property name="url" value="${jdbc.sysUrl}"/>
		<property name="username" value="${jdbc.sysUsername}"/>
		<property name="password" value="${jdbc.sysPassword}"/>
		<property name="initialSize" value="2"/>
		<property name="maxIdle" value="10"/>
		<property name="minIdle" value="10"/>
		<property name="maxActive" value="100"/>
		<property name="validationQuery" value="${jdbc.validationQuery}" />
		<property name="testOnBorrow" value="true"/>
	</bean>

	<!--启动spring 事务注解-->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<!--事务管理DataSourceTransactionManager-->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

     <!-- Spring myBatis SqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations">
			<list>
				<value>classpath:nevermore/dao/*Mapper.xml</value>
			</list>
		</property>
		<property name="typeAliasesPackage" value="nevermore.dto" />
	</bean>
<!-- scan for mappers and let them be autowired -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
		<property name="basePackage" value="nevermore.dao" />
	</bean>
	
</beans>